* {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  margin-bottom: 31px;
}

.container p:nth-child(9) {
  margin-bottom: 0px;
}

.sign {
  font-weight: bold;
}

.bg {
  background: #CFE8FF;
}

.container img {
  margin: 53px auto;
}


.container h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 39px;
  text-align: center;
}

.container-projects {
  margin-top: 74px;
}

.container-projects a:first-child {
  font-size: 24px;
}

.container-projects a {
  display: inline-block;
  text-decoration-line: underline;
  color: #000000;
  line-height: 23px;
  font-weight: 700;
  margin-bottom: 12px;
}

.container-projects .project-img {
  margin-top: 40px;
  width: 334px;
  height: 113px;
}

.container-projects .icon {
  width: 24px; 
  height: 24px;
}

.project-decr { 
  color: #7C7C7C;
}

.git-link {
  display: flex-row;
}

.git-link p {
  display: inline;
}

.recommendation {
  margin-top: 109px;
}

.recommendation p:first-child {
  margin-bottom: 26px;
}

.line { 
  border-left: 10px solid black;
  margin-left: 0px; 
  padding-left: 17px; 
  font-weight: bold;
  margin-bottom: 0px;
}

.recommendation p:nth-child(3) {
  display: inline-block;
  color: #7D7D7D;
  margin: 21px 24px 0px auto;
}

.end {
  margin-top: 107px;
  margin-bottom: 106px;
}